@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  color: rgb(250, 249, 249);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

button {
  background: none;
  cursor: pointer;
  color: hsl(246, 25%, 77%);
  border-radius: 10px;
}

/* MOBILE SCREEN  */
main {
  text-align: center;
  padding: 70px 20px;
}

@keyframes myAnimation {
  0% {
    transform: translateX(-100px);
  }
}

h1 {
  font-size: 25px;
  font-weight: 700;
  animation: myAnimation 3s;
}

.heading-bio {
  font-size: 14px;
  padding-top: 20px;
  animation: myAnimation 3s;
}

.tryIt-btn {
  background-color: hsl(248, 32%, 49%);
  margin-top: 70px;
  width: 100%;
  padding: 15px 50px;
  font-weight: 700;
  border: 1px solid hsl(248, 32%, 49%);
  box-shadow: 2px 3px 3px 0px hsla(249, 24%, 39%, 0.295);
}

.tryIt-btn:hover {
  transform: scale(0.9);
}

.tryIt-btn b {
  color: rgb(238, 236, 236);
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 3px 5px 0px hsla(0, 46%, 36%, 0.288);
}

label {
  display: block;
}

form div {
  position: relative;
  margin-bottom: 10px;
}

form div input {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 15px;
  padding-left: 30px;
  border-radius: 4px;
  border: 1px solid rgb(212, 208, 208);
  color: hsl(249, 10%, 26%);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
}

form div i {
  position: absolute;
  padding: 16px 7px;
  font-size: 16px;
  color: hsl(0, 0%, 55%);
}

.failure-icon,
.success-icon {
  right: 0;
  opacity: 0;
}

.failure-icon,
.error {
  color: red;
}

.error {
  font-size: 11px;
  margin-top: 4px;
}

.success-icon {
  color: green;
}

input:focus {
  border: 2px solid #000;
}

.claim-btn {
  background-color: hsl(154, 59%, 51%);
  width: 100%;
  padding: 15px 30px;
  font-weight: 700;
  border-radius: 4px;
  color: rgb(238, 236, 236);
  border: 1px solid hsl(154, 59%, 51%);
  box-shadow: 1px 2px 3px 0px hsl(154, 45%, 21%);
}

.claim-btn:hover {
  background-color: hsl(154, 53%, 37%);
}

.last-ptag {
  color: hsl(246, 5%, 40%);
  font-size: 11px;
  padding: 0 40px;
  margin-top: 20px;
}

.last-ptag span {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

/* footer */
.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* DESKTOP AND TABLET SCREENS */
@media screen and (min-width: 768px) {
  body {
    line-height: 1.2;
  }

  main {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  header {
    width: 40%;
    text-align: start;
    padding-left: 20px;
    padding-top: 70px;
  }

  h1 {
    padding: 0;
    font-size: 35px;
  }

  .heading-bio {
    font-size: 13px;
  }

  section {
    width: 40%;
    margin-top: 0px;
  }

  .tryIt-btn {
    margin-top: 50;
    width: 100%;
    padding: 10px 50px;
  }

  form {
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 8px;
  }

  .attribution {
    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }

  .heading-bio {
    font-size: 16px;
  }

  .tryIt-btn {
    padding: 20px 50px;
  }
}
